.logo {
    /* translate:100rem ;
    margin-left: 10rem; */
}

input.input{
    -webkit-transition: all 300ms ease-in-out;
}

.input:focus {
    background-color: rgb(226, 225, 225);
    width: 190px;

}